{% extends "base_main.html" %}
{% load static %}
{% block content %}  
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg pe-lg-5 mb-4 mb-lg-0 position-relative">
        <p>
          {% if object_list == None %}
        <h3>No Results</h3>
        {% endif %}
        {% if object_list %}
        <h3>Your search results...</h3>
        <ul>
          {% for post in object_list %}
          <li>
            <a href="{% url 'aiposts:post_detail' post.id %}">
            {{ post.content|truncatechars:50 }}</a>
          </li>
          </br>
          {% endfor %}
        </ul>
        {% endif %}        </p>
        <div class="vertical-line"></div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
{% endblock content %}