{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chesnowitz</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
        <!-- Custom template-->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    </head>
    <body>
        <main class="container">
             {% include 'user_messages.html' %}
            <article>
                <nav aria-label="breadcrumb">
                    <ul>
                        <li><a href="{% url 'project_list' %}">Main</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'edit' %}">Edit Profile</a></li>
                        <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                        <li><a href="{% url 'account_logout' %}">Log Out</a></li>
                        <li></li>
                        <li></li>
                        {% else %}
                        <li><a href="{% url 'account_login' %}">Log In</a></li>
                        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% block content %}
                {% endblock content %}
            </article>
        </main>
    </body>
</html>