{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- ===============================================-->
      <!--    Document Title-->
      <!-- ===============================================-->
      <title>Chesnowitz</title>
      <!-- ===============================================-->
      <!--    Favicons-->
      <!-- ===============================================-->
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
      

      <meta name="theme-color" content="#ffffff">
      <script src="{% static 'vendors/overlayscrollbars/OverlayScrollbars.min.js' %}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
      <!-- ===============================================-->
      <!--    Stylesheets--> 
      <!-- ===============================================-->

      <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" />
      <link href="{% static 'assets/css/user.css' %}" rel="stylesheet" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
      <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;900&amp;family=Roboto:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet">
   </head>
   <body>
      <main class="main" id="top">
         {% include 'preloader_spin.html' %}   
         {% include 'navigation.html' %}  
         {% include 'navigation_background.html' %} 
         <div class ='container'>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show text-center pb-3">
               <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
               <strong>{{ message }}</strong> 
            </div>
            {% endfor %}
            {% endif %}
         </div>
         {% block content %}
         {% endblock content %}
      </main>
      <!-- ===============================================-->
      <!--    End of Main Content-->
      <!-- ===============================================-->
      <footer class="footer text-center bg-black py-3 position-absolute w-100 bottom-0">
         <div class="container">
            <div class="row justify-content-between">
               <div class="col-12 col-md-auto mb-1 mb-md-0">
                  <p class="mb-0"> &copy; {% now 'Y' %}
                    {% if text.page_text_16 != None %}
                     <span class="mx-2">|</span>
                     <span class="text-900 hover-color-white">{{ text.page_text_16 }}</span>
                     {% endif %}
                  </p>
               </div>
               <div class="col-12 col-md-auto">
                  <p class="mb-0">
                     {% if text.youtube_url != None %}
                     <a class="footer-link" href="{{text.youtube_url}}" target="_blank"><span class='fab fa-youtube mx-2'></span></a>
                     {% endif %} 
                     {% if text.linkedin_url != None %}
                     <a class="footer-link" href="{{text.linkedin_url}}" target="_blank"><span class='fab fa-linkedin mx-2'></span></a>
                     {% endif %}     
                     {% if text.github_url != None %}    
                     <a class="footer-link" href="{{text.github_url}}" target="_blank"><span class='fab fa-github mx-2'></span></a>
                     {% endif %}               
                  </p>
               </div>
               <div class="col-12 col-md-auto">
                {% if text.page_text_13 != None %}
                  <p class="mb-0">{{ text.page_text_13}}
                    <span class="fas fa-heart mx-2"></span>
                    {{ text.page_text_14}} 
                    <a class="footer-link" href="" target="_blank">
                        {{ text.page_text_15}}
                    </a>
                </p>
                {% endif %}
               </div>
            </div>
         </div>
      </footer>
      <a class="btn-back-to-top" href="#top"><img src="{% static 'assets/img/line-icons/upload-arrow.svg' %}" width="8" alt=""></a>
      {% include 'js.html' %} 
   </body>
</html>