    {% load static %}
  
    <section class="overflow-hidden py-0" data-zanim-timeline="{}" data-zanim-trigger="scroll">
  
        <div class="bg-holder overlay parallax" style="background-image:url({% static 'placeholders/nav_back.jpg' %});background-position: center 42%;">
        </div>
        <!--/.bg-holder-->

        <div class="header-overlay"></div>
        <div class="container">
          <div class="d-flex align-items-center pt-5 pb-0.5">
            <div class="header-overlay"></div>

          </div>
        </div>
      </section>
  
  